{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Itgenio Book Shop
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Книжный магазин Айтигенио</a>

            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <a class="nav-link" href="{{ url_for('books') }}">Книги</a>
                <a class="nav-link" href="{{ url_for('about') }}">О сайте</a>
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>

        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block app_content %}{% endblock %}

    {% block cookie %}
        <footer class="footer fixed-bottom text-white bg-dark py-3">
            <div class="text-center py-3">
                Этот сайт использует файлы cookies и сервисы сбора технических данных посетителей (данные об IP-адресе, местоположении и др.) для обеспечения работоспособности и улучшения качества обслуживания. Продолжая использовать наш сайт, вы автоматически соглашаетесь с использованием данных технологий.
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm text-right">
                        <a class="btn btn-success" id="cookie_close" href="#close">Согласиться</a>
                    </div>

                    <div class="col-sm text-left">
                        <a class="btn btn-info" href="#politika">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script type="text/javascript">

        let cookiecook = getCookie("cookiecook"),
            cookiewin = document.getElementsByTagName('footer')[0];

        if (cookiecook != "no") {

            cookiewin.style.display="block";

            document.getElementById("cookie_close").addEventListener("click", function(){
                cookiewin.style.display="none";

                let date = new Date;
                date.setMinutes(date.getMinutes() + 45);
                document.cookie = "cookiecook=no; path=/; expires=" + date.toUTCString();
            });
        } else {
            cookiewin.style.display="none";
        }
    </script>
{% endblock %}